<div class="workerForm">
    <label>Active</label>
    <input type="checkbox" [(ngModel)]="actualWorker.active" />
    <label>Name</label>
    <input type="text" [(ngModel)]="actualWorker.name" />
    <label>PhoneNumber</label>
    <input type="text" [(ngModel)]="actualWorker.phoneNumber" />
    <label>UserName</label>
    <input type="text" [(ngModel)]="actualWorker.userName" />
    <label>Password</label>
    <input type="password" [(ngModel)]="actualWorker.password" />
    <label>Supervisor</label>
    <input type="text" [(ngModel)]="actualWorker.supervisor" />

    <button (click)="erase()" type="button">Erase Form</button>
    <button (click)="saveWorker()" type="button">Save Worker</button>
    <button (click)="sync()" type="button">Sync Worker</button>
</div>

<table>
    <tr>
      <th>Active</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>User Name</th>
      <th>Password</th>
      <th>Supervisor</th>
      <th>Department Name</th>
      <th>Abreviation</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let worker of workerCollection">
      <td>{{worker.active}}</td>
      <td>{{worker.name}}</td>
      <td>{{worker.phoneNumber}}</td>
      <td>{{worker.userName}}</td>
      <td>{{worker.password}}</td> <!-- I know showing password is really bad practice, just wanted to show the data comes back properly -->
      <td>{{worker.supervisor}}</td>
      <td>{{worker.departmentName}}</td>
      <td>{{worker.abreviation}}</td>
      <td>
        <button (click)="deleteWorker(worker.id)">Remove</button>
        <button (click)="updateWorker(worker.id)">Update</button>
      </td>
    </tr>
</table>
